button {
	border: none;
	background-color: #00000054;
	font-size: 24px;
	color: white;
	font-weight: bold;
	border-radius: 20px;
	outline: none;
}

button:hover {
	background-color: #00000070;
}

button:focus {
	background-color: #00000054;
}

button:active {
	background-color: #00000070;
	transform: translate3d(3px, 2px, 0);
}
